.posts ul {
  list-style: none;
}

.posts {
  flex: 2;
  background: #262626;
  color: white;
  border: 1px solid #333333;
}

.post-wrapper {
  display: flex;
  height: auto;
  position: relative;
}

.item {
  border-bottom: 1px solid #333333;
}

.item:last-child {
  border: none;
}

.voting-box {
  width: 30px;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  padding: 5px;
}

.voting-box i {
  color: #3f5efb;
}

.voting-button {
  background: none;
  border: none;
  cursor: pointer;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  padding: 7px;
}

.title-wrapper {
  display: flex;
  padding: 4px;
}

.details-wrapper {
  font-size: 12px;
  margin-top: auto;
  overflow: hidden;
  display: flex;
  color: #b0b8bf;
  padding: 4px;
}

.comments,
.author {
  color: #b0b8bf;
}

a {
  text-decoration: none;
  color: white;
}

.category,
.author {
  margin-left: 5px;
}

.author-name {
  color: #3f5efb;
}

.category {
  color: #ef8528;
}

.category-box {
  color: #ef8528;
  margin: auto;
}

.date {
  padding: 5px;
  font-size: 12px;
  color: #b0b8bf;
}

.delete-post-button {
  text-underline-position: under;
  background: #333333;
  opacity: 0.7;
  cursor: pointer;
  font-size: 14px;
  color: white;
  margin-left: auto;
  border: none;
  outline: none;
  padding: 2px;
  text-transform: uppercase;
  transition: 0.3s;
  border-left: 1px solid #1b1b1b;
  padding: 7px;
}

.delete-post-button:hover {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .details-wrapper {
    display: flex;
    flex-direction: column;
  }

  .posts {
    position: relative;
    left: 15px;
  }
}
