.landing-main {
    width: 90%;
    margin: 100px auto;
    display: flex;
    align-items: flex-start;
    flex: 1 0 auto;
  }

  .right {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 50px;
  }


@media only screen and (max-width: 600px) {

  .landing-main {
    justify-content: space-around;
  }

}