.categories {
  border: 1px solid #333333;
  background: #262626;
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.categories h3 {
  text-align: center;
  padding: 10px;
}

.categories-header {
  background: #333333;
  color: #b0b8bf;
  letter-spacing: 2px;
}

.unselected {
  display: flex;
  padding: 20px;
  align-self: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  border-top: 1px solid #333333;
}

.selected {
  color: #3f5efb;
  text-decoration: underline;
  display: flex;
  padding: 20px;
  align-self: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  border-top: 1px solid #333333;
}

.unselected:hover {
  color: #3f5efb;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .categories {
    margin-left: 20px;
  }
}
