.profile {
    border: 1px solid #333333;
    background: #262626;
    color: white;
    height: auto;
}

.profile-header {
    background: #333333;
    color: #b0b8bf;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px;
}

/* .profile-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.profile-content * {
    padding: 5px;
    font-weight: 300;
} */

.profile-content {
    padding: 10px;
}

.profile-content p {
    margin-top: 10px;
}

