h1 {
    margin: 100px auto;
    text-align: center;
    color: white;
}

.create-post {
    text-align: center;
    padding: 10px;
    background: #3f5efb;
    color: white;
    cursor: pointer;
    border: 1px solid #333333;
    margin-bottom: 30px;
}


@media only screen and (max-width: 600px) {

    .create-post {
      margin-left: 20px;
    }
  
  }