.thread-body-wrapper {
  background: #212121;
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  padding: 10px;
  height: 50%;
}

.thread-body-content {
  color: #b0b8bf;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-all;
  hyphens: auto;
}

@media only screen and (max-width: 600px) {
  .thread-body-wrapper {
    position: relative;
    left: 15px;
  }
}
